@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: deepskyblue;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 200px;rds
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: blueviolet;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

section {
  padding: 100px 200px;
  color: black;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(pic/codingmm.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: aliceblue;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline;
  margin-top: 10px;
  color: bisque;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: antiquewhite;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: antiquewhite;
  background-color: deepskyblue;
  text-decoration: none;
  font-size: 1.6em;
  font: weight 400px;
  display: inline-block;
  padding: 0.9375em 0.1875em;
  letter-spacing: 1px;
  border-radius: 30px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: darkturquoise;
  transform: scale(1.1);
}

.social-icons a {
  color: aliceblue;
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 30px;
    color: deepskyblue;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
    .card {
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;

  } 
  .card {
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px
    
  }
 
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .icon {
    color: deepskyblue;
    font-size: 8em;
    text-align: center;
  }
  
  .info {
    text-align: center;
  }
  
  .info h3 {
    color: deepskyblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }
.projects {
  background-color: azure;
}
.projects.content{
  margin-top: 30px;
}
.project-card {
  background-color: dodgerblue;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}
.project-card:hover{
  transform: scale(1.1);
}
.project-card:hover  .project-image{
  opacity: 0.9;
}
.project-image    img{
  width: 100%;
}
.project-info {
  padding:1em;
}
.project-category{
  font-size: 0.8em;
  color: deepskyblue;
}
.project-title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 10px;
  margin-top: 10px;
}

.cards{
  background-color: rgba(135, 206, 250, 0.272);
}
